<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Master Price Management System</h1>
		<hr>
		<h2>Save Master Price</h2>

		<form action="#" th:action="@{/saveMasterPrice}"
			th:object="${masterPrice}" method="POST">
			<input type="text" th:field="*{originCd}" placeholder="Origin Code"
				class="form-control mb-4 col-4"> <input type="text"
				th:field="*{destinationCd}" placeholder="Destination Code"
				class="form-control mb-4 col-4"> <input type="text"
				th:field="*{price}" placeholder="Price"
				class="form-control mb-4 col-4"> <input type="text"
				th:field="*{product}" placeholder="Product"
				class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Save Master
				Price</button>
		</form>

		<hr>

		<a th:href="@{/}"> Back to Master Price List</a>
	</div>
</body>
</html>