<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Master Price Management System</h1>
		<hr>
		<h2>Update Mater Price</h2>

		<form action="#" th:action="@{/saveMasterPrice}" th:object="${masterPrice}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{originCd}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{destinationCd}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{price}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{product}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update Master Price</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Master Price List</a>
	</div>
</body>
</html>